".vs/" 
".vs/" 
".vs/" 
"bin/" 
"obj/" 
/.vs/PeliculasAPI/CopilotIndices/17.13.444.19527
/.vs/PeliculasAPI/FileContentIndex
/.vs/PeliculasAPI/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/PeliculasAPI/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/PeliculasAPI/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/peliculasapi.metadata.v9.bin
/.vs/PeliculasAPI/FileContentIndex/28e047f1-9920-44d4-a9aa-2e29732efe2d.vsidx
/.vs/PeliculasAPI/FileContentIndex/3024ddc0-0dee-4e22-9b18-300ec4432ef3.vsidx
/.vs/PeliculasAPI/FileContentIndex/389507cf-7b2e-4573-88a4-15b9a9e76b6d.vsidx
/.vs/PeliculasAPI/FileContentIndex/65db24e9-ef24-4d66-9f3a-1883f26bf315.vsidx
/.vs/PeliculasAPI/FileContentIndex/6988e3a1-9843-47d3-a114-cf2d4ef7b81a.vsidx
/.vs/PeliculasAPI/FileContentIndex/89604435-e57d-47ce-a227-6dcd1dfc54a5.vsidx
/.vs/PeliculasAPI/FileContentIndex/b3e2166f-0dbe-4f3a-b3c6-08625e8e8c19.vsidx
/.vs/PeliculasAPI/FileContentIndex/e121d6a3-03ce-4fc0-8c09-36298dc5c36d.vsidx
/.vs/PeliculasAPI/v17/.suo
/.vs/PeliculasAPI/v17/DocumentLayout.backup.json
/.vs/PeliculasAPI/v17/DocumentLayout.json
**/appsettings.Development.json
