<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/329121c2-6cb4-4381-a30d-18a02c679b95/resourceGroups/PeliculasAPI/providers/Microsoft.Web/sites/ApiPeliculas2</ResourceId>
    <ResourceGroup>PeliculasAPI</ResourceGroup>
    <ApiResourceId>/subscriptions/329121c2-6cb4-4381-a30d-18a02c679b95/resourceGroups/PeliculasAPI/providers/Microsoft.ApiManagement/service/PeliculasAPIapi/apis/PeliculasAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apipeliculas2-hfddeye6ava3cmhp.mexicocentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>9edddbd1-bf27-4428-85bb-23cecf6b4f30</ProjectGuid>
    <MSDeployServiceURL>apipeliculas2-hfddeye6ava3cmhp.scm.mexicocentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiPeliculas2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>